<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <!-- PAGE 0 -->
  <div class="section">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <img src="assets/images/logo.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- PAGE 1 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h5><b>Visi</b></h5>
          <h5>Menjadi Perusahaan property dan Pariwisata terbesar dan 
            terpercaya di Jawa Barat tahun 2025</h5>
          <h5 class="mt-5"><b>Value</b></h5>
          <ul class="pl-4">
            <li><h5>Kompetensi (Competency)</h5></li>
            <li><h5>Percaya Diri (Confidence)</h5></li>
            <li><h5>Komunikasi (Communication)</h5></li>
            <li><h5>Fokus Pelanggan (Customer Focus)</h5></li>
            <li><h5>Kerja sama  (Team Work)</h5></li>
            <li><h5>Respektif & Responsif</h5></li>
            <li><h5>Trust and Loyalty</h5></li>
          </ul>
        </div>
        <div class="col-md-6 offset-md-1">
          <h5><b>Misi</b></h5>
          <ol class="pl-4">
            <li class="mb-2 pl-3"><h5>Menyumbangkan Pendapatan Asli Daerah;</h5></li>
            <li class="mb-2 pl-3"><h5>Menjalankan usaha properti;</h5></li>
            <li class="mb-2 pl-3"><h5>Menjalankan usaha wisata dan perhotelan;</h5></li>
            <li class="mb-2 pl-3"><h5>Menjalankan usaha jasa penunjang properti dan pariwisata;</h5></li>
            <li class="mb-2 pl-3"><h5>Bekerjasama dengan pihak ketiga untuk menjalankan beberapa kegiatan usaha di atas dan mengoptimalkan aset
              Pemerintah Daerah Provinsi Jawa Barat;</h5></li>
            <li class="mb-2 pl-3"><h5>Sebagai Agent of Development yang memberikan economic multiplier effect bagi perekonomian Jawa Barat</h5></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 2 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5 class="mb-3">Merger Pembentukan <b>PD Jasa dan Kepariwisataan</b> Prov. Jawa Barat (1999) :</h5>
          <ol class="pl-4">
            <li class="mb-2 pl-3"><h5>PD Kerta Wisata (perhotelan, perbioskopan, dan persewaan.</h5></li>
            <li class="mb-2 pl-3"><h5>PD Kerta Wahana (perbengkelan)</h5></li>
            <li class="mb-2 pl-3"><h5>PD Kerat Waskita Grafika (percetakan)</h5></li>
            <li class="mb-2 pl-3"><h5>PD Kerta Karya (kontruksi)</h5></li>
            <li class="mb-2 pl-3"><h5>PD Kerta Farma (farmasi)</h5></li>
          </ol>
        </div>
        <div class="col-md-6">
          <h5>Perubahan bentuk PD Jasa dan Kepariwisataan Jawa Barat menjadi <b>PT Jasa dan Kepariwisataan Jabar (Perseroda)</b></h5>
          <h5 class="mt-5">Bidang Kegiatan usaha perseroan, terdiri dari :</h5>
          <ul class="pl-4">
            <li class="mb-2 pl-3"><h5>Pariwisata</h5></li>
            <li class="mb-2 pl-3"><h5>Properti</h5></li>
            <li class="mb-2 pl-3"><h5>Jasa</h5></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 3 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Proyeksi Keuangan</h5>
          <h2><b>Tren Pendapatan</b></h2>
          <img src="assets/images/chart-1.png" alt="" class="img-fluid p-4 img-chart">
        </div>
        <div class="col-md-6">
          <h5>Proyeksi Keuangan</h5>
          <h2><b>Tren Laba</b></h2>
          <img src="assets/images/chart-2.png" alt="" class="img-fluid p-4 img-chart">
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 4 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/img-1.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h5>Lini Bisnis Jaswita</h5>
          <h2><b>Bisnis Property (Sewa)</b></h2>
          <h4 class="mt-5"><b>Rancabentang Townhouse</b></h4>
          <h5>Rancabentang No. 12A Bandung</h5>
          <h4 class="mt-5"><b>Cibadak Shophouse</b></h4>
          <h5>Jln. Siliwangi No.31 & 92 Kab. Sukabumi</h5>
          <h4 class="mt-5"><b>Warehouse</b></h4>
          <h5>Jln. Siliwangi No. 158 Kab. Sukabumi</h5>
          <h4 class="mt-5"><b>“Pasirjambu Center” Shophouse</b></h4>
          <h5>Jln. Raya Pasirjambu Kab. Bandung</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 5 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/img-2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h5>Lini Bisnis Jaswita</h5>
          <h2><b>Bisnis Property (BOT)</b></h2>
          <div class="row">
            <div class="col-md-6">
              <h4 class="mt-5"><b>Grand Hotel Preanger</b></h4>
              <h5>Jl. Asia Afrika No. 81 Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Bandung Indah Plaza</b></h4>
              <h5>Jl. Merdeka No. 56-58 Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Hotel Aryaduta Bandung</b></h4>
              <h5>Jl. Sumatra No. 51 Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Ciamis Mall</b></h4>
              <h5>Jl. Ahmad Yani No. 15 Ciamis</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Hotel Perdana Wisata</b></h4>
              <h5>Jl. Jend. Sudirman No. 66-68 Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Baninza Cineplex</b></h4>
              <h5>Jl. R. Hamara Effendi Banjar</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Hotel Salak The Heritage</b></h4>
              <h5>Jl. Ir. H Juanda No. 8 Kota Bogor</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 6 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/img-3.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h5>Lini Bisnis Jaswita</h5>
          <h2><b>Bisnis Jasa dan Kepariwisataan</b></h2>
          <div class="row">
            <div class="col-md-6">
              <h4 class="mt-5"><b>Theater ”De Majestic”</b></h4>
              <h5>Jl. Braga No. 1 Kota Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>“Mobilcare Autoservice”</b></h4>
              <h5>Jl. Pahlawan No. 101 Kota Bogor</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Jaswita Tour & Travel</b></h4>
              <h5>Jl. Somawinata Kota Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Catering “San Pedo”</b></h4>
              <h5>Jl Somawinata Kota Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>“Mobilcare Autoservice”</b></h4>
              <h5>Jl. Gatot Subroto No. 176 Kota Bandung</h5>
            </div>
            <div class="col-md-6">
              <h4 class="mt-5"><b>Aplikasi Gurilaps</b></h4>
              <h5>Jl. Braga No. 1 Kota Bandung</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 7 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <app-step-list [year]="2019"></app-step-list>
        </div>
        <div class="col-md-10">
          <h5>Perencanaan Kedepan</h5>
          <h2><b>Milestone 2019</b></h2>
          <div class="media mt-5">
            <h4>01</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Hotel BIJB Tahap I</b></h4>
              JV
            </div>
          </div>
          <div class="media mt-3">
            <h4>02</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Resto San Pedo</b></h4>
              Kelola Sendiri
            </div>
          </div>
          <div class="media mt-3">
            <h4>03</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Gurilaps</b></h4>
              Kelola Sendiri
            </div>
          </div>
          <div class="media mt-3">
            <h4>04</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>The Wastukencana Hotel (TWH) – Ex Hoterl Royal Corner</b></h4>
              BOT
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 8 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <app-step-list [year]="2020"></app-step-list>
        </div>
        <div class="col-md-10">
          <h5>Perencanaan Kedepan</h5>
          <h2><b>Milestone 2020</b></h2>
          <div class="row mt-5">
            <div class="col-md-6">
              <div class="media mt-3">
                <h4>01</h4>
                <div class="media-body ml-4">
                  <h4 class="mt-0"><b>Hotel Preanger Tahap I</b></h4>
                  JV
                </div>
              </div>
              <div class="media mt-3">
                <h4>02</h4>
                <div class="media-body ml-4">
                  <h4 class="mt-0"><b>Pusat Logistik Berikat</b></h4>
                  BOT
                </div>
              </div>
              <div class="media mt-3">
                <h4>03</h4>
                <div class="media-body ml-4">
                  <h4 class="mt-0"><b>Rancaupas Tahap I (Setoran Modal)</b></h4>
                  JV
                </div>
              </div>
              <div class="media mt-3">
                <h4>04</h4>
                <div class="media-body ml-4">
                  <h4 class="mt-0"><b>Hotel Perdana Wisata</b></h4>
                  Mitra
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media mt-3">
                <h4>05</h4>
                <div class="media-body ml-4">
                  <h4 class="mt-0"><b>Hotel Pondok Seni Pangandaran Tahap I</b></h4>
                  JV
                </div>
              </div>
              <div class="media mt-3">
                <h4>06</h4>
                <div class="media-body ml-4">
                  <h4 class="mt-0"><b>Bisnis Manufaktur Truk Compactor & Triseda</b></h4>
                  JV
                </div>
              </div>
              <div class="media mt-3">
                <h4>07</h4>
                <div class="media-body ml-4">
                  <h4 class="mt-0"><b>Hotel BIJB Tahap II</b></h4>
                  JV
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- PAGE 9 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <app-step-list [year]="2021"></app-step-list>
        </div>
        <div class="col-md-10">
          <h5>Perencanaan Kedepan</h5>
          <h2><b>Milestone 2021</b></h2>
          <div class="media mt-5">
            <h4>01</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Hotel BIJB Tahap I</b></h4>
              JV
            </div>
          </div>
          <div class="media mt-3">
            <h4>02</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Hotel Preanger Tahap II</b></h4>
              JV
            </div>
          </div>
          <div class="media mt-3">
            <h4>03</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Rancaupas Tahap II (Setoran Modal)</b></h4>
              JV
            </div>
          </div>
          <div class="media mt-3">
            <h4>04</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Hotel Pondok Seni Pangandaran Tahap II</b></h4>
              JV
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 10 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <app-step-list [year]="2022"></app-step-list>
        </div>
        <div class="col-md-10">
          <h5>Perencanaan Kedepan</h5>
          <h2><b>Milestone 2022</b></h2>
          <div class="media mt-5">
            <h4>01</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Wana Wisata Pangandaran Tahap I</b></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 11 -->
  <div class="section">
    <div class="container">
      <h2><b>Investasi Jaswita</b></h2>
      <div class="row mt-5">
        <div class="col-md-5">
          <div class="media mt-4">
            <div class="media-body">
              <h4 class="mt-0 mb-1"><b>Graha Jaswita</b></h4>
              Jl. Lenkong Besar No. 135
            </div>
            <button type="button" class="btn btn-warning" (click)="openDialog(data.gj)">Lihat Detail</button>
          </div>
          <div class="media mt-4">
            <div class="media-body">
              <h4 class="mt-0 mb-1"><b>Jaswita Tourism Center</b></h4>
              Jl. Somawinata, Pasir Kaliki
            </div>
            <button type="button" class="btn btn-warning" (click)="openDialog(data.jtc)">Lihat Detail</button>
          </div>
          <div class="media mt-4">
            <div class="media-body">
              <h4 class="mt-0 mb-1"><b>Café & Resto San Pedo</b></h4>
              Jl. Ambon No 18, Bandung
            </div>
            <button type="button" class="btn btn-warning" (click)="openDialog(data.crsp)">Lihat Detail</button>
          </div>
        </div>
        <div class="col-md-5 offset-md-1">
          <div class="media mt-4">
            <div class="media-body">
              <h4 class="mt-0 mb-1"><b>Gurilaps</b></h4>
              &nbsp;
            </div>
            <button type="button" class="btn btn-warning" (click)="openDialog(data.gurilaps)">Lihat Detail</button>
          </div>
          <div class="media mt-4">
            <div class="media-body">
              <h4 class="mt-0 mb-1"><b>Hotel Grand Preanger</b></h4>
              Jll. Asia Afrika No 81, Bandung
            </div>
            <button type="button" class="btn btn-warning" (click)="openDialog(data.hgp)">Lihat Detail</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 12 -->
  <div class="section">
    <div class="container">
      <img src="assets/images/img-4.png" alt="" class="position-absolute" id="img-founder" style="right: 0;top: 0;">
      <h4>Juli – September 2019</h4>
      <h2><b>Progress Kinerja</b></h2>
      <div class="media mt-5">
        <h4>01</h4>
        <div class="media-body ml-4">
          <h4 class="mt-0"><b>SDM</b></h4>
        </div>
      </div>
      <div class="media mt-4">
        <h4>02</h4>
        <div class="media-body ml-4">
          <h4 class="mt-0"><b>General Affair</b></h4>
        </div>
      </div>
      <div class="media mt-4">
        <h4>03</h4>
        <div class="media-body ml-4">
          <h4 class="mt-0"><b>Pengembangan Usaha</b></h4>
        </div>
      </div>
      <img src="assets/images/img-5.png" alt="" class="position-absolute" id="dev-house" style="right: 50%;left:40%;bottom:0;">
    </div>
  </div>

  <!-- PAGE 13 -->
  <div class="section">
    <div class="row">
      <div class="col-md-3 p-0">
        <img src="assets/images/img-6.png" alt="" class="img-fluid img-left">
      </div>
      <div class="col-md-8 pl-5">
        <div class="mt-5 pb-5">
          <h4>Progres Kinerja</h4>
          <h2><b>SDM</b></h2>
        </div>
        <div class="mt-5 pt-5">
          <h3><b>Perubahan SOTK</b></h3>
          <h5>Keputusan Direksi No. Kpts.-017/JSW/VIII-2019</h5>
        </div>
        <div class="mt-5">
          <h3><b>Pelantikan Jajaran Manajerial Jaswita Jabar</b></h3>
          <h5>Keputusan Direksi No. Kpts-018/JSW/VIII-2019 Tanggal 19 Agustus 2019</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 14 -->
  <div class="section">
    <div class="row">
      <div class="col-md-3 p-0">
        <img src="assets/images/img-7.png" alt="" class="img-fluid img-left">
      </div>
      <div class="col-md-8 pl-5">
        <div class="mt-5 pb-5">
          <h4>Progres Kinerja</h4>
          <h2><b>General Affair</b></h2>
        </div>
        <div class="mt-4">
          <h4><b>Kick off system yang terintegrasi PT Jaswita Jabar dengan PT Jaya Bersama Kawan (Jaberska)</b></h4>
          <h5>Sistem Kearsipan, Manajemen Aset, Pengadaan Barang & Jasa dan Integrasi setiap departemen</h5>
        </div>
        <div class="mt-4">
          <h4><b>Pengosongan Lahan Aset di Jl. Ambon No. 18</b></h4>
        </div>
        <div class="mt-4">
          <h4><b>Kunjungan Gubernur di Gedung Graha Jaswita dan Aset di Jl. Ambon No 18</b></h4>
        </div>
        <div class="mt-4">
          <h4><b>Peresmian Gedung Perkantoran Graha Jaswita di Jalan Lengkong Besar No 135 Kota Bandung</b></h4>
        </div>
        <div class="mt-4">
          <h4><b>Re-Launching De Majestic Sebagai Pusat Pertunjukan Seni dan Budaya di Jawa Barat</b></h4>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 15 -->
  <div class="section">
    <div class="row">
      <div class="col-md-3 p-0">
        <img src="assets/images/img-8.png" alt="" class="img-fluid img-left">
      </div>
      <div class="col-md-8 pl-5">
        <div class="mt-5 pb-5">
          <h4>Progres Kinerja</h4>
          <h2><b>Pengembangan Usaha</b></h2>
        </div>
        <div class="mt-5 pt-5">
          <h3><b>Penyusunan Business Plan 2019-2023</b></h3>
        </div>
        <div class="mt-5">
          <h3><b>Penyusunan Revisi RKAP 2019</b></h3>
        </div>
        <div class="mt-5">
          <h3><b>Inisiasi Investasi Baru</b></h3>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 16 -->
  <div class="section">
    <div class="container">
      <h2><b>Inisiasi Investasi Baru</b></h2>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/Picture1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="media mt-5">
            <h4>01</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Koordinasi dengan pihak mitra (PT Bina Inti Dinamika) dan membuka proposal kerjasama
                  lain terkait pengelolan Hotel Grand Preanger</b></h4>
            </div>
          </div>
          <div class="media mt-5">
            <h4>02</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Pengembangan dan Pengelolaan Wana Wisata Rancaupas</b></h4>
              <h5>Proses Negosiasi Final dengan PT Perhutan</h5>
            </div>
          </div>
          <div class="media mt-5">
            <h4>02</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Pengembangan Hotel Pondok Seni Pangandaran</b></h4>
              <h5>Telah dibuatnya Pra Fisiability Study</h5>
              <h5>Proses Negosiasi dengan Disbudpar</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 17 -->
  <div class="section">
    <div class="container">
      <h2><b>Inisiasi Investasi Baru</b></h2>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/Picture2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="media mt-5">
            <h4>04</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>De Majestic</b></h4>
              <h5>Evaluasi dan Pengembangan</h5>
            </div>
          </div>
          <div class="media mt-5">
            <h4>05</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Gurilaps</b></h4>
              <h5>Evaluasi dan Pengembangan</h5>
            </div>
          </div>
          <div class="media mt-5">
            <h4>06</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Jaswita Tour & Travel Center</b></h4>
              <h5>Evaluasi dan Pengembangan</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 18 -->
  <div class="section">
    <div class="container">
      <h2><b>Inisiasi Investasi Baru</b></h2>
      <div class="row">
        <!-- <div class="col-md-4">
          <img src="assets/images/Picture2.jpg" alt="" class="img-fluid">
        </div> -->
        <div class="col-md-8">
          <div class="media mt-5">
            <h4>07</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Pengembangan Hotel Perdana Wisata</b></h4>
              <h5>Melakukan penjajagan dengan mitra Art Deco hotel</h5>
            </div>
          </div>
          <div class="media mt-5">
            <h4>08</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Royal Corner Hotel</b></h4>
              <h5>Penjajagan dengan Mitra baru (IKEA Grup)</h5>
            </div>
          </div>
          <div class="media mt-5">
            <h4>09</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>BIJB</b></h4>
              <h5>Koordinasi perihal kerjasama BOT dengan pihak PT BIJB dengan inisiasi Pemprof Jabar</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 19 -->
  <div class="section">
    <div class="container">
      <h2><b>Inisiasi Investasi Baru</b></h2>
      <div class="row">
        <!-- <div class="col-md-4">
          <img src="assets/images/Picture2.jpg" alt="" class="img-fluid">
        </div> -->
        <div class="col-md-8">
          <div class="media mt-5">
            <h4>10</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Resto Jalan Ambon</b></h4>
              <h5>Persiapan Pra FS</h5>
            </div>
          </div>
          <div class="media mt-5">
            <h4>11</h4>
            <div class="media-body ml-4">
              <h4 class="mt-0"><b>Truk Sampah Berpemejal</b></h4>
              <h5>Persiapan Penandatanganan MoU</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGE 20 -->
  <div class="section">
    <div class="container">
      <h1 class="text-center"><b>Terima Kasih</b></h1>
    </div>
  </div>
</div>